.gallerie {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallerie:hover {
  border: 1px solid #777;
}

.gallerie img {
  width: 100%;
  height: auto;
}

.gallerie {
  padding: 15px;
  text-align: center;
}
