.imgBg {
  position: relative;
  text-align: center;
  color: white;
}

#texteBg {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

@media screen and (min-width: 1000px) {
    #carteAccueil {
      float: left;
  }
}
